body {
  background-color: #444;
}

.loader {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 0;
  transition: opacity .25s;
  transition-delay: .3s;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.loader.is-active {
  top: 0;
  left: 0;
  opacity: 1;
  display: flex;
}

.section {
  border: 5px solid;
  border-radius: 20px;
  height: 25vh;
  margin: 10px;
  padding: 10px;
  background-color: white;
  transition: background-color .5s;
}

.section-1 {
  border-color: green;
  background-color: rgb(205, 238, 205);
}
.section-1.is-working {
  background-color: rgb(105, 190, 105);
}

.section-2 {
  border-color: blue;
  background-color: rgb(215, 245, 255);
}
.section-2.is-working {
  background-color: rgb(105, 169, 190);
}

.section-3 {
  border-color: red;
  background-color: rgb(246, 232, 234);
}
.section-3.is-working {
  background-color: rgb(216, 107, 125);
}
